exportPattern("^[[:alpha:]]+")
import(methods)
import(utils)
import(BiocGenerics)
import(IRanges)
import(GenomicFeatures)
import(edgeR)
importFrom(limma, vennDiagram)
import(AnnotationDbi)
importFrom(GenomicAlignments, readGAlignments, njunc, junctions)
importFrom(DESeq2, estimateSizeFactors, estimateDispersions, dispersions, 
    "dispersions<-", DESeq, DESeqDataSetFromMatrix, results )
importFrom(DEXSeq, DEXSeqDataSet, testForDEU, DEXSeqResults)
importClassesFrom(DEXSeq, DEXSeqDataSet)
importClassesFrom( GenomicRanges, GRanges, GRangesList )
importFrom( GenomicRanges,  GRanges, GRangesList, findOverlaps, countOverlaps, 
    disjoin, duplicated, strand )
importFrom( "grDevices", "dev.off", "png" )
importFrom( "stats", "aggregate", "formula", "p.adjust" )
importFrom( parallel, mclapply )
import(S4Vectors)
import(AnnotationDbi)
import(Gviz)
exportMethods(
    "AsDiscover",
    "binGenome",
    "DUreport",
    "DUreport_DEXSeq",
    "writeAS",
    "writeCounts",
    "writeDU",
    "writeRds",
    "rds",
    "readCounts",
    "featuresg",
    "featuresb",
    "featuresj",
    "countsg",
    "countsb",
    "countsj",
    "countse1i",
    "countsie2",
    "rdsg",
    "rdsb",
    "irPIR",
    "altPSI",
    "esPSI",
     "joint",
    "junctionsPIR",
    "junctionsPSI",
    "genesDE",
    "binsDU",
    "junctionsDU",
    "show"
)
exportClasses(
    "ASpliAS",
     "ASpliCounts",
     "ASpliDU",
     "ASpliFeatures" 
)
